.info-section{
    background-color: rgb(224, 224, 226);
    
}
.con{
    background-color: rgb(237, 230, 230);
    width: 50%;
   

    
}
.con2{
    background-color: rgb(96, 55, 5);
    width: 45%;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 3em;
    padding-top: 1em;
}
.adr{
    background-color: black;
}
.mapa{
    width: 20em;
    height: 40px;
    position: relative;
    top: -18em;
    left: 32em;
}
.mapa2{
    width: 12%;
    font-size: 2em;
}
