.info-section{
    background-color: rgb(224, 224, 226);
}
.con{
    background-color: rgb(253, 253, 253);
    width: 50%;
   

    
}
.con2{
    background-color: rgb(96, 55, 5);
    width: 45%;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 3em;
    padding-top: 1em;
}
.adr{
    background-color: black;
}