/* Card container */
.card-article {
   
    width: 20%;
    font-size: 12px;
    padding: 0.5em;
    height: auto; /* Cambiar a auto para que la altura se ajuste al contenido */
    border-radius: 0.5em;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 4px 1px black;
    overflow: hidden; /* Asegurar que el contenido que se desborde se oculte */
}

/* Header styles */
.card-header {
    width: 100%;
}

.card-img {
    width: 100%;
    border-radius: 0.5em 0.5em 0 0;
}

/* Content sections */
.div1, .div2, .div3 {
    padding: 1em; /* Añadir padding para mejor presentación */
    text-align: center; /* Centrar texto */
    text-transform: lowercase;
    font-size: 15px;
    
}

.div1 {
    /* background-color: rgb(178, 178, 177); */
    display: flex;
    justify-content: center;
}

.div2 {
    /* background-color: rgb(199, 159, 236); */
    color: #008181;
}

.div3 {
    /* background-color: rgb(146, 148, 143); */
    color: #050442;
    display: flex;
    justify-content: space-between;
}

/* Footer and button styles */
.footer {
    display: flex;
    justify-content: center;
    padding: 1em; /* Añadir padding para mejor separación */
    background-color: #f6f7f7; /* Asegurar que el pie tenga un fondo diferente */
}

.button {
    width: 100%; /* Ajustar el ancho para que ocupe todo el espacio disponible */
    max-width: 10em; /* Limitar el ancho máximo del botón */
    height: 3em;
    border: none;
    border-radius: 0.5em;
    background-color: rgb(239, 8, 8);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #eb5050;
    transform: scale(1.05);
}
