.section-book{
    /* border: 2px solid red; */
    flex-wrap: wrap;
    margin: 1em;
    padding: 1em;
    box-shadow: 1px 1px 2px 2px black;
    border-radius: 1em;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Añadir transición */
        
    &:hover{
        transform: scale(1.05); /* Escalar la tarjeta */
        box-shadow: 1px 1px 8px 2px black; /* Añadir una sombra más grande */

    }
}

.section-book ul li {
    list-style-type: none;
}

.section-book button{
    background-color: red;
    /* border: none; */
    border-radius: 0.5em;
    margin-top: 0.5em;
    cursor: pointer;
    
    
    
}

.header-book{
    width: 100%;

}
.header-book img{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
    
    
}

.section-book button i{
    color: aliceblue;
    background-color: red;
    padding: 0.8em;
    font-size: 22px;
    border-radius: 0.5em;
    &:hover{
        color: rgb(247, 247, 247);
      background-color: rgb(68, 127, 216);
    }
}

